<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
</head>
<body>
  <h1>{{title}}</h1>

  {% block abc %}
  	{{test_var}}
  	<p style="border: 1px solid;padding: 10px">parent block</p>
  {% endblock %}

  <footer> {% block footer %}{% endblock %} </footer>
</body>
</html>
